*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.btn:focus {
    outline: none;
}

#root {
    --blue: #3abdff;
    --blueShadow: #007fbe;
    --mainHighlight: #293f50;
    --yellow: #fbff00;
    --gray: #f3f3f3;
    --grayShadow: #a1a1a1;
    --active: rgb(255, 115, 0, 0.99);
    --active-faded: rgb(255, 140, 0);
    height: 100%;
    display: grid;
    grid-template-columns: fit-content(20%) 1fr;
    grid-template-rows: 50px 1fr;
}

#navbar {
    grid-column: 1 / span 2;
    justify-self: stretch;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    background: var(--mainHighlight);
    color: white;
    font: 500 22px/50px "Kodchasan",
        "Courier",
        "Open Sans",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
}

#logo {
    margin: 0;
    padding: 8px;
    width: 50px;
    float: left;
}

#graphpanel {
    grid-column: 2 / span 1;
    grid-row: 2/span 1;
    align-self: stretch;
    justify-self: stretch;
    overflow: hidden;
    background: aliceblue;
    box-shadow: 3px 0px 5px 0px var(--grayShadow) inset;
}

#defpanel {
    grid-column: 1 / span 1;
    grid-row: 2/span 1;
    overflow-y: auto;
    align-items: flex-start;
    min-width: 300px;
    width: fit-content;
    padding: 0px;
    margin: 0px;
    /* background: #5199eb86; */
    background: white;
    position: relative;
}

#settingsWrapper {
    position: absolute;
    bottom: 80px;
    left: 0px;
    padding: 5px;
    transition: 0.3s;
    width: 100%;
    display: flex;
}

#settingsWrapper:hover {
    background: white;
}

#defSettings {
    width: 100%;
    color: white;
    align-self: center;
    margin-bottom: 20px;
    background: var(--mainHighlight);
}


#zoomPanel {
    position: fixed;
    top: 70px;
    right: 25px;
    z-index: 1;
    user-select: none;
}

#zoomInBtn,
#zoomOutBtn,
#homeBtn {
    margin: 2pt;
    user-select: none;
}

#graphicsSettings {
    margin: 2pt;
    margin-top: 8pt;
    user-select: none;
}

#basic {
    padding: 20px;
    border: none;
    box-shadow: none;
}

::selection {
    background: var(--active);
    opacity: 0;
    color: white;
}

#base-properties {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: fit-content;
    overflow-x:visible;
    overflow-y: auto;
}
.property {
    width: 100%;
    min-height: 50px;
    height:fit-content;
    display: grid;
    grid-template-columns: fit-content(50px) 1fr;
}

.name-container {
    grid-column: 1 / span 1;
    text-align: center;
    min-height: 50px;
    height: stretch;
    min-width: 50px;
    width: fit-content;
    background: white;
    line-height: 50px;
    vertical-align: middle;
    font-size: 9pt;
    font-family: DejaVu Sans Mono, monospace;
    font-weight: 200;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.name-container .name {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    box-shadow: none;
}

.empty>.name-container{
    background: white;
    color: black;
    border-width: 0px 1px 1px 0px;
    border-color: var(--grayShadow);
    border-style: solid;
}

.name-container.function>.name {
    text-align: right;
    padding-right: 0px;
}

.type {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 15px;
    height: 100%;
}

.base {
    background: var(--mainHighlight);
    color: white;
}

.base .mq-cursor {
    border-left: 1px solid white;
}

.base:hover {
    background: white;
    color: black;
}

.base:hover .mq-cursor {
    border-left: 1px solid black;
}

.active {
    background: var(--active);
}

.active:hover {
    background: var(--active-faded);
    color: white;
}

.active:hover .mq-cursor {
    border-left: 1px solid white;
}

.expression-container {
    grid-column: 2 / span 1;
    margin: 0px;
    width: 100%;
    height: stretch;
    min-height: 50px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--grayShadow);
    display: flex;
}

.expression-container:focus-within {
    border-width: 2px 2px 2px 2px;
    border-color: lightskyblue;
}

.expression-container .expression {
    width: 100%;
    height: fit-content;
    padding: 3pt;
    border: none;
    box-shadow: none;
    align-self: center;
}